.about-main-section {
    display: flex;
    /* align-items: stretch; */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title {
    color: rgba(39, 37, 37, 0.795);
    text-align: center;
}

.call-to-action {
    line-height: 3rem;
}

p {
    color: #1762A7;
    font-size: 1.5em;
    text-align: center;
}

@media(max-width: 768px) {
    .container {
        width: 100%;
    }
    .about-main-section {
      display: block;
      text-align: left;
    }
    .main-header {
        padding: 1rem;
    }
    .call-to-action {
        margin: 5vh auto;
        width: 90%;
    }
  }


